@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  padding: 2px;
  background: none;
  justify-content: center;
  display: flex;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 6px;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(97, 90, 90), rgb(227, 225, 225));
  border-radius: 6px;
}

/* dots loader  */
.dots {
  width: 56px;
  height: 26.9px;
  background: radial-gradient(circle closest-side, #0a0a22 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #0a0a22 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #0a0a22 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 13.4px;
  background-repeat: no-repeat;
  animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


/* segmented styles */

.activeState{
  color:red;
}

.active .activeState {
  color:blue;
}

body {
font-family: 'Excon', sans-serif;
}

.logo{
  font-family: 'Telma', cursive;
}